*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}

ul, li{
    list-style: none;
    float:left;
    font-size: 19px;
    margin-left: 62px;
    margin-top: 27px;
    margin-right: 75px;

}

ul, li, a {

    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:hover{
    background-color: rgba(224, 119, 21, 0.966);
    transition: all 0.7s ease-out;
}

.logo {
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-left: 100px;
    padding-top: 10px;
    margin-top: 32px;
    margin-left: 75px;
}

.text-primary {
color: white;
}

.text-secondary{
    color: orangered;
}

.hr {
    clear: both;
    }

#search {
        font-family: Arial;
        width: 200px;
        height: 40px;
        background: transparent;
        border: 2px solid orangered;
        margin-top: 35px;
        color: white;
        font-size: 16px;
        float: left;
        padding: 10px;
    }

    #search::placeholder {
        font-weight: bold;

    }
.aramabutonu {

    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 35px;
    color:white;
    font-size: 15px;
    transition: 0.3s ease-out;
    cursor: pointer;
}


.aramabutonu:hover{

    color: black;
}

.content {
    position: absolute;
    top: 200px;
    left: 345px;
}

.baslik {
    color: orangered;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

pre{
    color: white;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    
    

}
.cp {
    position: absolute;
    right: 300px;
    top: 200px;
    border: 2px solid;
    height: 300px;
    width: 350px;
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%) ;
    border-radius: 10px;
    padding: 20px;
}

#username {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left:none;
    border-bottom: solid 2px rgba(224, 119, 21, 0.966);
    font-size: 22px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

#password {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left:none;
    border-bottom: solid 2px rgba(224, 119, 21, 0.966);
    font-size: 22px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.loginbaslik {
    margin-left: 30%;
    width: 150px;
    height: 35px;
    background-color: orangered;
    text-align: center;
    font-size: 24px;
    margin-top: 2px;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
}

.girisyap {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: orangered;
    color: black;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 20px;
    margin-right: 65px;
    border-radius: 10px;
}

.reset {
    position: absolute;
    top: 252px;
    right: 100px;
    height: 40px;
    width: 120px;
    background-color: orangered;
    color: black;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;

}

.reset:hover, .girisyap:hover{
    background-color: white;
    transition: all 0.7s ease-out;

}

footer h2{
    height: 40px;
    margin-top: 807.4px;
    padding-top: 10px;
    border: solid 2px orangered;
    background-color: orangered;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
